.main__pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    span {
        color: var(--title);
    }

    .pagination {
        &__list {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            gap: 12px;
        }

        &__item {
            font-size: 12px;
            padding: 6px 9px;
            background: #F5F5F5;
            border: 1px solid #EEEEEE;
            border-radius: 4px;
            color: var(--pag);
            cursor: pointer;

            &-active {
                color: #FFFFFF;
                background-color: var(--active);
            }
        }
    }
}